.square {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 70px;

  cursor: pointer;
}

.square:hover {
  background-color: #07133095;
}

.square:nth-child(2) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.square:nth-child(4) {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;;
}

.square:nth-child(5) {
  border: 1px solid #000;
}

.square:nth-child(6) {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.square:nth-child(8) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

@media (max-width:400px) {
  .square {
    width: 100px;
    height: 100px;
  }
}
